.contenedor {
    display: flex;
    flex-flow: column wrap;
}

header {
    width: 100%;
    background-color: #efefef;

    display: flex;
    flex-flow: column wrap;
}

.logo {
    padding-left: 20px;
    margin: 10px;
}

nav {
    width: 100%;
    background-color: #1079a6;
    display: flex;
    flex-flow: row wrap;
}

nav a {
    width: 150px;
    text-decoration: none;
    text-align: center;
    background-color: #1079a6;
    color: #fff;
    padding: 10px;

    /*flex-grow: 1;*/
}

nav a:hover {
    border-top:solid;
    border-color:#0c5575;
    border-top-width: 5px;
}

.carousel {
    margin: auto;
    width: 40%;
    height: 40%;
}

.carousel-caption {
    position:initial;
    padding-top: 0px;
}

h4 {
    font-size: 20px;
    font-weight: bold;
    color: #1698d0;
    margin: 0px;
}

.carousel-caption p {
    margin-bottom: 0px;
    font-size: large;
    color: #1698d0;
}

#registrarse {
    margin-top: 30px;
}

h5 {
    padding: 10px;
    background-color: #1079a6;
    color: #fff;
}

.formulario {
    margin: 20px;
}

.termyCond {
    text-decoration: underline;
    color:#1079a6;
}

.btn {
    width: 150px;
    background-color: #1079a6;
}

