.contenedor {
    width: 90%;
    margin: auto;
    max-width: 1300px;

    display: flex;
    flex-flow: column wrap;
}

header {
    width: 100%;
    background-color: #efefef;

    display: flex;
    flex-flow: column wrap;
}

.logo {
    padding-left: 20px;
    margin: 10px;
}

nav {
    width: 100%;
    background-color: #1079a6;
    display: flex;
    flex-flow: row wrap;
}

nav a {
    width: 150px;
    text-decoration: none;
    text-align: center;
    background-color: #1079a6;
    color: #fff;
    padding: 10px;
}

nav a:hover {
    border-top:solid;
    border-color:#0c5575;
    border-top-width: 5px;
}

.div-listas {
    display: flex;
    flex-flow: row wrap;
}

.crear-lista {
    margin: 20px 10px;
    padding: 10px;
    background-color: #64CCC5;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    text-align: center;
}

.h-listas {
    margin-top: 10px;
    color:#0c5575;
}

.btn-agregar-lista {
    font-size: 50px;
    background-color:transparent;
    border:none;
    color:#0c5575;
}

.div-lista-nueva {
    margin: 20px 10px;
    padding: 0px 4px;
    background-color: #64CCC5;
    width: 300px;
    min-height: 400px;
    height: 80%;
    border-radius: 5px;
    text-align: right;
}

.div-nombre-lista {
    display: flex;
    flex-direction: row;
}

.div-nombre-lista-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-nombre-lista{
    border: none;
    background-color: transparent;
    width: 90%;
    color:#0c5575;
    margin-right: 5px;
}

.btn {
    border: none;
    background-color: transparent;
    color:#0c5575;
    border-radius: 50px;
    font-size: 20px;
    padding: 3px;
}

.btn:hover {
    background-color: rgb(210, 208, 208);
}

.div-alerta {
    color: red;
    font-size: 12px;
    text-align: left;
    padding-left: 15px;
}

.div-lista-nueva h5 {
    color:#0c5575;
    text-align: center;
}

.crear-tareas {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.input-nombre-tarea {
    border: none;
    width: 100%;
}

ul {
    margin-top:5px;
    padding-left: 3px;
    width: 100%;
}

li {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.check {
    width: 15px;
    height: 15px;
}

.check:checked + label {
    text-decoration:line-through;
    color: gray;
}

.check:checked {
    border-image-width: 0px;
    background-color: #0c5575;
}

.tarea {
    padding-left: 5px;
    text-align: left;
    vertical-align:middle;
    width: 90%;
    color: #0c5575;
}